<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RecordatorioSms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="colegioEntities" connectionString="metadata=res://*/colegio.csdl|res://*/colegio.ssdl|res://*/colegio.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=693693123456;persistsecurityinfo=True;database=colegio&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <RecordatorioSms.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value />
      </setting>
    </RecordatorioSms.Properties.Settings>
  </userSettings>
</configuration>